body {
    margin: 0;
    background: #071a12;
    font-family: Inter, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-container {
    width: 100%;
    max-width: 400px;
}

.auth-box {
    background: #0b2419;
    padding: 34px;
    border-radius: 18px;
    border: 1px solid rgba(0, 255, 122, 0.1);
    box-shadow: 0 0 25px rgba(0, 255, 122, 0.08);
    text-align: center;
}

.auth-box h1 {
    margin-bottom: 24px;
    color: #dfffe6;
}

.auth-box input {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    margin-bottom: 14px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.08);
    color: white;
}

.btn {
    width: 100%;
    padding: 14px;
    background: var(--accent);
    border: none;
    border-radius: 12px;
    color: #06120a;
    font-weight: bold;
    cursor: pointer;
    margin-top: 8px;
}

.link {
    margin-top: 12px;
    color: #8ad9b6;
}

a {
    color: var(--accent);
    font-weight: 600;
    text-decoration: none;
}