.carte-graphique {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 320px;
}

.recentes {
    max-height: 320px;
    overflow: auto;
}

.table tbody tr:hover {
    background: rgba(255, 255, 255, 0.01);
}